body {
    margin: 0;
    font-family: Arial;
    background: #f7f7f7;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: white;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.logo {
    height: 60px;
    margin-right: 15px;
}

.cart-btn {
    margin-left: auto;
    padding: 8px 15px;
    border: none;
    background: #22aa55;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* MENU */
.menu-title {
    text-align: center;
    margin-top: 20px;
    font-size: 26px;
}

.menu-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.menu-item {
    background: white;
    width: 180px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.menu-item img {
    width: 100%;
    border-radius: 10px;
}

.menu-item button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background: #2196f3;
    color: white;
    border-radius: 5px;
}

/* CART */
.cart {
    position: fixed;
    top: 0;
    right: -350px;
    width: 300px;
    height: 100%;
    background: white;
    box-shadow: -2px 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    transition: 0.3s;
}

.cart.open {
    right: 0;
}

.checkout-btn {
    width: 100%;
    padding: 10px;
    background: #22aa55;
    color: white;
    border: none;
    margin-top: 10px;
}

/* CHECKOUT */
.checkout {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.checkout input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.cod-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background: #ff6600;
    color: white;
    border-radius: 5px;
}

.close-btn {
    width: 100%;
    padding: 10px;
    background: #999;
    color: white;
    border: none;
    margin-top: 10px;
                              }
  
  
